<header class="header">
  <div class="alert alert-info" role="alert">

    <h1>Make Yourselves Comfortable</h1>


    <p class="Para-Padding">
      <b>If life is a rollercoaster I ain’t wearing my seatbelt! </b>  Welcome to my site where you get a slice of my life for the cost of your time. As a recent graduate of General Assembly I’ve learnt an abundance of skills whilst having a fulfilling experience, here is a just a piece of some accomplishments that’s been achieved in the three months learning with some information about me.
    </p>
  </div>
</header>

<div class="alert alert-info" role="alert" >
  <h2>About Me</h2>
    <div class="row">
          <p class="Para-Padding">
            I’m an adventurous soul! I’ve been to a fair few places around the world and can’t wait to see more, some of my all-time favourite would be Japan, Egypt and America. I’ve worked at some interesting jobs like boat maintenance, as a driver for different jobs and worked in the legal industry. A key word to describe me would be grit, I don’t know when to quit however I do know when to stop. I don’t give up when going gets tough and I enjoy figuring out new ways to conquer challenges. Coming fresh out of my course I can’t wait to see what’s next in this grand story of mine and what I can give to this new and vast industry of Programming.
          </p>
    </div>
  <h2>Projects</h2>

  <div class="row">

    <div class="card col-6 col-md-4" style="width: 18rem; background-color: rgba(127, 50, 168, 0.3);">
      <%= image_tag 'Online-Store.png', :class => "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Online Store</h5>
        <a href="https://github.com/harrisonmalouf/Online-Store" class="btn btn-primary">Git Hub</a>
        <a href="https://arcane-sierra-15577.herokuapp.com/" class="btn btn-primary">Live link</a>
      </div>
    </div>

    <div class="card col-6 col-md-4" style="width: 18rem; background-color: rgba(127, 50, 168, 0.3);">
      <%= image_tag 'Space-Invaders01.png', :class => "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Space Invaders</h5>
        <a href="https://github.com/harrisonmalouf/Space-Invaders" class="btn btn-primary">Git Hub</a>
        <a href="https://harrisonmalouf.github.io/Space-Invaders/" class="btn btn-primary">Live link</a>
      </div>
    </div>

    <div class="card col-6 col-md-4" style="width: 18rem; background-color: rgba(127, 50, 168, 0.3);">
      <%= image_tag 'tic-tac-toe.jpg', :class => "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Tic Tac Toe</h5>
        <a href="https://github.com/harrisonmalouf/Ticcity-Taccity-Toe" class="btn btn-primary">Git Hub</a>
        <a href="https://harrisonmalouf.github.io/Ticcity-Taccity-Toe/" class="btn btn-primary">Live link</a>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-4">
      <p class="project-para">
        During our time in general assembly our class was asked to present a group project within a week. Me and AJ Tauber, rose to this challenge to complete a project we are both passionate about with the framework Ruby on Rails. It was a fun, exciting yet an overwhelming challenge. Through thick and thin we crusaded through this together and created something that we didn’t think we were capable of. I’d dare say this was the one project I learnt from the most. As an individual I felt our co-ordination, strict time management and respect for one another was what made this project so successful. Refer to the Github Readme file to access the administrative side of this website.
      </p>
    </div>
    <div class="col-4">
      <p class="project-para">
        This was by far my most ambitious project. During the time in this course one of my weakest programming languages was JavaScript, I felt a trial by fire might be the best way to wrap my head around a language I was struggling with, and it did. That being said it’s important to note that I used p5 as a library to help create this game. During this time, I’d gained a little bit of inspiration from one of my favourite games to play called Star Sector. The sprites have been used from another avid fan of this game who designed sprites and additional content for people to use for free.
      </p>
    </div>
    <div class="col-4">
      <p class="project-para">
        For my very first project using vanilla JavaScript I made a Tic Tac Toe game. This was by far one of the steepest learning curves during the course due to how close it was to the beginning of my education. I feel that this was a part in time where I really had enough time to focus on some fun and exciting CSS effects that have inspired me to think critically about how to approach making a website interactive. Some of my key learning techniques which I still use quiet frequently today came around the time of this project. One of the highlight features during this project was tiles for the play area as it introduced an exciting and colourful way to make a website little bit more interactive.
      </p>
    </div>
  </div>

</div>

<footer class="footer">
  <div class="alert alert-info" role="alert">
    <h3>Contact Me</h3>
    <div class="row">
    <div class="col-5"> <p class="footer-para"><b>Email:</b> harrisonmalouf@gmail.com </p> </div>
    <div class="col-3" <p class="footer-para"><b><a href="https://www.linkedin.com/in/harrison-malouf-261b8918b/">Linked In</a></b></p> </div>
    <div class="col-3"> <p class="footer-para"><b>Contact Hours:</b> 9am to 7pm</p> </div>
    </div>
  </div>
</footer>
