<header class="header">
  <div class="alert alert-dark" role="alert">

    <h1>Welcome, Make Yourselves Comfortable</h1>


    <p class="introduction-paragraph">
      <b>Brief and colourful introduction will be inserted here: </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
</header>

<div class="alert alert-secondary" role="alert" >
  <h1>About Me</h1>
    <div class="row">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada nunc vel risus commodo viverra maecenas accumsan. Viverra nibh cras pulvinar mattis nunc sed blandit. Facilisis gravida neque convallis a cras semper auctor neque. Adipiscing tristique risus nec feugiat in. Etiam dignissim diam quis enim lobortis. Neque sodales ut etiam sit amet. Eget sit amet tellus cras adipiscing enim eu turpis egestas. Sit amet consectetur adipiscing elit duis tristique sollicitudin nibh sit. Interdum varius sit amet mattis. Cras ornare arcu dui vivamus arcu felis bibendum ut tristique. Dictum fusce ut placerat orci. Augue ut lectus arcu bibendum at varius.
        </p>
    </div>
  <h2>Projects</h2>
  <div class="row">
    <div class="col-4">
      <p class="intro-blurb-para">
        <b>Project 1: </b>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Leo in vitae turpis massa sed. Nisl nisi scelerisque eu ultrices. Quam vulputate dignissim suspendisse in. Purus faucibus ornare suspendisse sed nisi lacus. Neque vitae tempus quam pellentesque nec nam. Et odio pellentesque diam volutpat commodo sed egestas egestas fringilla. Eu consequat ac felis donec et odio pellentesque diam volutpat.
      </p>
    </div>
    <div class="col-4">
      <p class="intro-blurb-para">
        <b>Project 2: </b>Ut placerat orci nulla pellentesque dignissim. Quam elementum pulvinar etiam non quam. Accumsan in nisl nisi scelerisque eu ultrices vitae. Eu nisl nunc mi ipsum faucibus. Donec massa sapien faucibus et molestie ac feugiat. Egestas pretium aenean pharetra magna ac placerat. Faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Dapibus ultrices in iaculis nunc sed augue lacus. Pretium aenean pharetra magna ac placerat vestibulum. Nulla malesuada pellentesque elit eget gravida.
      </p>
    </div>
    <div class="col-4">
      <p class="intro-blurb-para">
        <b>Project 3: </b>Volutpat blandit aliquam etiam erat velit scelerisque in dictum. Aenean et tortor at risus viverra adipiscing at in. Diam in arcu cursus euismod quis viverra nibh cras. Quis imperdiet massa tincidunt nunc pulvinar sapien et. Tortor at auctor urna nunc id cursus metus. Eget sit amet tellus cras adipiscing enim eu. Nunc lobortis mattis aliquam faucibus purus in massa. Etiam sit amet nisl purus in. Ultrices dui sapien eget mi proin sed libero enim. Risus nullam eget felis eget nunc lobortis. Dolor magna eget est lorem ipsum. At elementum eu facilisis sed odio.
      </p>
    </div>
  </div>
    <div class="row">

      <div class="card col-6 col-md-4" style="width: 18rem;">
        <img src="https://www.fillmurray.com/400/500" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Project</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Git Hub</a>
          <a href="#" class="btn btn-primary">Live link</a>
        </div>
      </div>

      <div class="card col-6 col-md-4" style="width: 18rem;">
        <img src="https://www.fillmurray.com/400/500" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Project</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Git Hub</a>
          <a href="#" class="btn btn-primary">Live link</a>
        </div>
      </div>

      <div class="card col-6 col-md-4" style="width: 18rem;">
        <img src="https://www.fillmurray.com/400/500" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Project</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Git Hub</a>
          <a href="#" class="btn btn-primary">Live link</a>
        </div>
      </div>

    </div>
</div>



<footer class="footer">
  <div class="alert alert-dark" role="alert">
    <h3>Contact Me</h3>
    <div class="input-group flex-nowrap">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">Email</span>
      </div>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Text Area</span>
      </div>
      <textarea class="form-control" aria-label="With textarea"></textarea>
      <p>
      </p>
    </div>
  </div>
</footer>
