@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

nav {
  font-family: 'Acme', sans-serif;
}

h1, h2, h3, h5 {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Acme', sans-serif;
}

h1, h5 {
  text-decoration: underline;
}


footer {
  padding-top: 1em;
}

.Para-Padding {
  padding: 0px 5.6em;
}

.project-para {
  padding: 10px 0 0 0;
}

.footer-para {
  text-align: center;
  text-decoration: underline;
}

.card-img-top {
  max-width: 300px;
  max-height: 200px;
  padding: 10px 0 0 30px;
}
