body {
  background-color: #6b3964;
}

h1, h2, h3 {
  text-align: center;
  padding-bottom: 20px;
  text-decoration: underline;
}

footer {
  padding-top: 5em;
}

.Para-Padding {
  padding: 0px 6em
}
